header {
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
}
.logo {
	height: 100%;
	width: 100%;
	background-image: url("../images/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
    margin-right: 20px;
}